<!DOCTYPE html>
<html>
<head>
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery-ui.js"></script>
<link rel="stylesheet"
  href="css/jquery-ui.css">
<link href="css/style.css" rel="stylesheet">
<link
  href="css/bootstrap-combined.min.css"
  rel="stylesheet">

<script
  src="js/angular.js"></script>

<script src="js/abn_tree_directive.js">    </script>
<link rel="stylesheet" href="css/abn_tree.css">


<script src="js/tinyxmlw3cdom.js"></script>
<script src="js/tinyxmlsax.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/upload.js"></script>

<script
  src="js/ui-bootstrap-tpls-0.6.0.js"></script>

<title>Stub Server</title>
</head>
<body>
	<div class="container">
		<div class="unit">
			<div ng-app="editApp">
				<div ng-controller="EditCtrl">

					<h1>Service "{{name}}"</h1>
					<h4>Url : http://localhost:8080/stub-app/ws/{{name}}</h4>
					<div class="col-md-4">
						<h4>Methods</h4>
						<div class="input-append">
							<input ng-model="query.name" class="span2"
								id="appendedInputButton" type="text">
							<button class="btn" type="button" disabled>Search</button>
						</div>

						<table>
							<tr ng-repeat="method in service.methods | filter:query">
								<td><label>{{method.name}}</label></td>
								<td>
									<button class="btn btn-primary" ng-click="open(method)">Edit</button>
								</td>
							</tr>
						</table>
					</div>


					<script type="text/ng-template" id="modal.html">

          <div class="modal-header">
            <h3>{{method.name}}</h3>
          </div>
          <div class="modal-body">



<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        Templates
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="col-md-4">
            <h4>SOAP Request Template</h4>
           
            <form>
                
                <input type="file" ng-file-select="onFileSelect($files)" id="requestTemplate">
                <br/>
                <i ng-hide="requestTemplate">Select file of Request Template</i>
               
            </form>
            
          </div>

          <div class="col-md-4">
            <h4>SOAP Response Template</h4> 
           
            <form>
               
                <input type="file" ng-file-select="onFileSelect($files)" id="responseTemplate">
                <br/>
                <i ng-hide="responseTemplate">Select file of Response Template</i>
               
            </form>
            
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
        Variables
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <h4>Variables</h4>
          <table>
                <tr ng-repeat="variable in method.variables">
                  <td>{{beautyVariable(variable.key)}}</td>
                  <td><button class="btn btn-info" ng-click="viewVariable(variable.key)">View</button>
                  <button class="btn btn-danger" ng-click="deleteVariable(variable.key)">Delete</button></td>
                </tr>
                <tr>
                  
                  <td><button class="btn" data-toggle="collapse" data-target="#newvariable" ng-click="loadTree()">New variable</button> </td>
                </tr>
              </table>
              
              <div id="newvariable" class="collapse" >  
                <div class="accordion-inner">
                  <div class="container">
                    <table>
                      <tr>
                        <td><label>Key</label></td>
                        <td>
                          <div class="input-prepend">
                            <span class="add-on">:</span>
                            <input class="span2" id="variablename" size="16" type="text" placeholder="Variable name" ng-model="variablename">
                          
                             
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Path</td>
                        
                          <td>
                            <div style="width:400px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                            <span ng-if="doing_async">...loading...</span>
                            <abn-tree tree-data="variable_data" tree-control="variable_tree" on-select="variable_tree_handler(branch)" expand-level="1" ></abn-tree>
                            </div>
              
                        </td>
                      </tr>
                      <tr>
                        <td><button class="btn btn-success" ng-click="createVariable(variablename)">Add</button></td>
                      </tr>
                    </table>
                    
                    
                  </div>
                </div>
              </div>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
        Cases
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
         <h4>Cases</h4>
            
            
              <table>
                <tr ng-repeat="case in method.cases">
                  <td>{{case.test}}</td>
                  <td><button class="btn btn-info" ng-click="viewCase(case.test)">View</button>
                  <button class="btn btn-danger" ng-click="deleteCase(case.test)">Delete</button></td>
                </tr>
                <tr>
                  <td><button class="btn" data-toggle="collapse" data-target="#newcase" ng-click="initCase()">New case</button> </td>
                  
                </tr>
              </table>


              <div id="newcase" class="collapse" >  
                <div class="accordion-inner">
                  <div class="container">
                    <table>
                      <tr>
                        <td><label>Test</label></td>
                        <td>
                          <div>
                            <input type="text" id="casename" ng-auto-test="test" ng-model="casename" class="span3" placeholder="Case test">
                            
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><label>Output File</label></td>
                        <td><input type="file" ng-file-select="onFileSelect($files)" id="responseFile"></td>

                      </tr>
                      <tr>
                          <td><h4>Outputs</h4></td>
                      </tr>
                      <tr ng-repeat="output in outputs">
                        <td>{{output.value}}</td>
                        <td><button class="btn btn-info" ng-click="viewOutput(output.value)">View</button>
                  <button class="btn btn-danger" ng-click="deleteOutput(output.value)">Delete</button></td>
                      </tr>
                      </table>
                      <div class="container">
                        <button class="btn" data-toggle="collapse" data-target="#newoutput">New output</button>
                      
                        <div id="newoutput" class="collapse" >  
                          <div class="accordion-inner">
                            <table>
                              <tr>
                                <td>Value</td>
                                <td>
                                  <input type="text" id="outputname" ng-model="outputname" class="span3" placeholder="Output value">
                                </td>
                              </tr>
                              <tr>
                                <td>Path</td>
                                <td>
                                     <div  style="width:400px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                            <span ng-if="doing_async">...loading...</span>
                            <abn-tree tree-data="output_data" tree-control="output_tree" on-select="output_tree_handler(branch)" expand-level="1" ></abn-tree>
                            </div>
              
                                </td>
                              </tr>
                            </table>
                          </div>
                          <button class="btn btn-success" ng-click="createOutput(outputname)">Create Output</button>
                        </div>
                        
                      </div>
                      </br>

                      <button class="btn btn-success" ng-click="createCase(casename)">Add Case</button>
                    
                    
                  </div>
                </div>
              </div>


      </div>
    </div>
  </div>
</di
            
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          </div>
        </script>
				</div>

			</div>
			<a href="index.html" class="btn btn-inverse"> Cancel </a>
		</div>



	</div>
</body>
</html>